
:root{
  --flexified-padding: 0px;
}

.flexified-wrapper {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;

  .flexified-child:before {
      content: '';
      float: left;
      padding-top: 100%;
  }

  &:not(.flexified-mobile){
      &.flexified-wide-last-item{
          .flexified-child{
              &:last-child {
                  flex-grow: 1;
                  height: auto;
              }
          }

          &:not(.flexified-item-count-5):not(.flexified-item-count-7):not(.flexified-item-count-9):not(.flexified-item-count-10):not(.flexified-item-count-11):not(.flexified-item-count-13):not(.flexified-item-count-14):not(.flexified-item-count-17):not(.flexified-item-count-19):not(.flexified-item-count-22):not(.flexified-item-count-23):not(.flexified-item-count-25):not(.flexified-item-count-26):not(.flexified-item-count-29):not(.flexified-item-count-31):not(.flexified-item-count-34):not(.flexified-item-count-35){
              .flexified-child{
                  &:last-child{
                      margin-left: calc((var(--flexified-padding)) * 1.5);
                  }
              }
          }

          &.flexified-item-count-5,
          &.flexified-item-count-11,
          &.flexified-item-count-14,
          &.flexified-item-count-17,
          &.flexified-item-count-23,
          &.flexified-item-count-26,
          &.flexified-item-count-29,
          &.flexified-item-count-35{
              .flexified-child{
                  &:last-child {
                      margin-left: calc((var(--flexified-padding)));

                      &:before{
                          padding-top: 50%;
                      }
                  }
              }
          }

          &.flexified-item-count-7,
          &.flexified-item-count-10,
          &.flexified-item-count-13,
          &.flexified-item-count-19,
          &.flexified-item-count-22,
          &.flexified-item-count-25,
          &.flexified-item-count-31,
          &.flexified-item-count-34{
              .flexified-child{
                  &:last-child {
                      &:before{
                          padding-top: 33%;
                      }
                  }
              }
          }
      }

      &.flexified-items-odd{
          .flexified-child {
              width: calc(100% / 3 - (var(--flexified-padding) * 0.66 ));
              margin-bottom: var(--flexified-padding);
          }

          &.flexified-item-count-1{
              .flexified-child{
                  width: 100%;

                  &:before{
                      padding-top: 33%;
                  }
              }
          }
      }

      &.flexified-items-even{
          .flexified-child {
              width: calc(100% / 4 - (var(--flexified-padding) * 0.75 ));
              margin-bottom: var(--flexified-padding);
          }

          &.flexified-item-count-2{
              .flexified-child{
                  width: calc(100% / 2 - (var(--flexified-padding) / 2));
              }
          }
      }
  }


  &.flexified-mobile{
      justify-content: center;

      .flexified-child {
          width: calc(100% / 2 - (var(--flexified-padding)) * 0.75);
          margin-bottom: calc((var(--flexified-padding)) * 1.5);

          &:nth-child(even){
              margin-left: calc((var(--flexified-padding)) * 1.5);
          }
      }

      &.flexified-items-odd{
          &.flexified-wide-last-item{
              .flexified-child{
                  &:last-child {
                      width: calc(100% - calc((var(--flexified-padding)) * 0.5));
      
                      &:before{
                          flex-grow: 1;
                          height: auto;
                          padding-top: 50%;
                      }
                  }
              }
          }
      }
  }
}


